/* Reseta estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px);
    /* Altura mínima considerando o cabeçalho e o rodapé */
    padding: 20px;
    background-color: #f0f0f0;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

form p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* Cabeçalho e Navegação */
header {
    background-color: #874c69;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #000;
}

/* Estilização do Main e Formulário */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #874c69;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #874c69;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #874c69;
}

/* Rodapé */
footer {
    background-color: #874c69;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer span {
    display: block;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
}